ACTION=="add", SUBSYSTEM=="input", ATTRS{bInterfaceClass}=="03", RUN+="/bin/bash /sources/little-penguin/ex04/load.sh"
ACTION=="remove", SUBSYSTEM=="input", ATTRS{bInterfaceClass}=="03", RUN+="/bin/bash /sources/little-penguin/ex04/unload.sh"
